<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Armour Request System', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'ARS', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to trial_index_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        <% end %>
      </li>

      <li class="menu-header">Controllers</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-archive"></i> <span>Arms</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/arms">Arms Table</a></li>
          <li><a class="nav-link" href="/arms/new">New Arm</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Arm Requests</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/armrequests">Requests Table</a></li>
          <li><a class="nav-link" href="/armrequests/new">New Request</a></li>
        </ul>
      </li>

      <li class="menu-header">Personnel</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-id-badge"></i> <span>Soldiers</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/soldiers">Soldiers Table</a></li>
          <li><a class="nav-link" href="/soldiers/new">Add New</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-id-card-alt"></i> <span>Officers</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/officers">Officers Table</a></li>
          <li><a class="nav-link" href="/officers/new">Add New</a></li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
